* {
  box-sizing: border-box;
  font-size: 18px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: white;
  padding: 40px;
  text-align: center;
  font-size: 1.75em;
  font-weight: bold;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 25px;
  height: 300px; 
}

.column1 {
    width: auto;
    height: auto;
    border-style: solid;
    background: #bbb;
}

.button1 {
    border-bottom: solid;
    border-left: solid;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    float: right;
    background: pink;
    font-size: 1.25em;
}

.button2 {
    border-bottom: solid black;
    border-left: solid black;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    float: right;
    background: rgb(255, 0, 76);
    color: white;
    font-size: 1.25em;
}

.button3 {
    border-bottom: solid;
    border-left: solid;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    float: right;
    background: lightyellow;
    font-size: 1.25em;
}

.para1 {
    clear: both;
    padding: 15px;
    padding-right: 12px;
    
    line-height: 1.4;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 767px) {
  .column {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width:991px) {
    .column {
      width: 50%;
    }
    #special {
        width: 100%;
    }
  }
  
